<web-app>
    <servlet>
        <display-name>gmail_checker</display-name>
        <servlet-name>gmail_checker</servlet-name>
        <servlet-class>
            org.glassfish.jersey.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.doan.app.webservices</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>gmail_checker</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>